

a, a:visited, a:active{
    text-decoration: none;
}

h4,h5{
    font-size:0.9375rem ;
    //font-weight: ;
}

h5{
    opacity: 50%;
    //font-weight: ;
}
p{
    font-weight: 500;
}