//general styles for all cards

.card{
    display: grid;
    grid-template-rows: 5px, 20px 20px;
    gap: 2rem;
    border-radius: 10px;
    padding: 2.3rem ;

}
.card-header{
    font-size: 1.8rem;
}

.info{
    display: grid;
    grid-auto-flow: column;
}